*/__pycache__
*/__pycache__/*
__pycache__
__pycache__/*
*pycache*
*.xlsx
*.csv
*.json
*.pkl
*.ipynb
*.h5
*.npy
*.pickle
*.bin
*.vec
*_data.txt

*__kostas.com
*__chris.com
*make changes
*_george_and_kostas_rules.gr
test branch
db.*
*.db
*ropeproject*
